/* GENERAL */
* {
    margin: 0%;
    padding: 0%;
}

.bod {
    background-color: rgb(218, 218, 218);
    font-family: "Georgia"
}


/* ENCABEZADO */
.imagen_logo {
    display: flex;
    width: 30%;
    padding-right: 120px;
}

.encabezado {
    display: flex;
}

.titulo {
    display: flex;
    width: 70%;
    align-items: center;
}

.titulo_texto {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
}

.banner_ciutat {
    display: flex;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.img_logo {
    display: flex;
    width: 40%;
    height: 100%;
}

.img_logo:hover {
    transform: scale(1.1);
}

.fot {
    display: flex;
    background-color: rgb(137, 155, 153);
    align-items: center;
    justify-content: space-around;
}

.img_final {
    width: 30%;
    height: 80%;
}

.naveg {
    background-color: rgb(10, 127, 14);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: left;
    border-bottom: 12x;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.naveg_Mesures {
    background-color: rgb(10, 127, 14);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: left;
    border-bottom: 12x;
    border-bottom-right-radius: 12px;
}


.obj_naveg {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s;
}

.obj_naveg:hover {
    background-color: rgb(3, 114, 6);
    color: black;
    border-radius: 12px;
}

.obj_fot {
    padding: 10px 20px;
    font-size: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}

.content {
    background-color: rgb(209, 212, 208);
    padding: 30px;
}





/* index.html */
.Titol_index {
    text-align: center;
    padding-top: 50px;
}

.texto_Principal {
    text-align: justify;
}

.Contenido {
    display: flex;
    padding-bottom: 10px;
}

.Texto_Imagen_Principal {
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.img_asg {
    width: 520px;
    height: 400px;
}

.img_index_1 {
    width: 80%;
}

.sidebar_index {
    background-color: rgb(12, 106, 20);
    width: 60%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 12px;
    color: white;
}

hr {
    height: 3px;
}

.li_index {
    align-items: center;
    margin-bottom: 10px;
}

.a_noticias {
    color: white;
    text-decoration: none;
    text-align: center;
    padding-right: 5px;
}

.a_index_inicio {
    color: black;
    text-decoration: none;
    text-align: center;
}

.img_noticias {
    width: 200px;
    height: 120px;
    padding: 1%;
}

.img_alcalde{

    width: 100%;

}

.Titol_alcalde {
margin-top: 30%;
text-align: center;

}



/* Mesuras Medi Ambient */

.Contenido2 {

padding: 20px;
text-align: center;
width: 45%;
}

.Contenido3 {
    padding: 20px;
    text-align: center;
    width: 45%;
    margin-left: 3%;
}


.Contenido4 {

    margin-top: 3%;
    padding: 20px;
    text-align: center;
    width: 45%;
    }
.Contenido_mesures{

    display: flex;
    flex-wrap: wrap;
    
}


.texto_Principal_1 {
    text-align: justify;
    text-align: center;
}


.img_Mesures_1 {


    width: 80%;
    height: 20%;
    text-align: center  ;
}




/* CONSEJOS*/
.Contenido2_consells {
    padding: 1%;
    margin: 4%;
    text-align: left;
    width: 40%;
    margin-right: 3%;
}
    
.Contenido3_consells {
    padding: 1%;
    margin: 4%;
    text-align: left;
    width: 40%;
    margin-left: 3%;
}

.alinear_centre {
    text-align: center;
}

.img_consells1 {
    width: 60%;
    height: 7%;
}

.img_consells2 {
    width: 100%;
    height: 60%;
}




/* GALERIA */

.capsula {
    text-align: center;
    padding: auto;
    margin: 5%;
    display: flex ;
    justify-content: center;  
    align-items: center;
    
}
.img1 {
    width: 60%;
    height: 60%;
    text-align: center;
    padding: auto;
    margin: auto;
}


.img4 {
    width: 40%;
    height: 40%;
    text-align: center;
    padding: auto;
    margin: auto;
}

.img5 {
    width: 30%;
    height: 30%;
    text-align: center;
    padding: auto;
    margin: auto;
}




/* CONTACTO */
.img_contacto {
    width: 80%;
    height: 80%;

}

.img_contacto2 {
    width: 60%;
    height: 20%;
}

.tit_contacto {
    font-size: 150%;
    text-align: center;
}

.img_iconos {
    width: 70%;
    height: 700%;
}

.contenido_contacto {
    display: flex;
    justify-content: center;  
    align-items: center;
}

.contacto_part1 {
    flex: 1;
    padding: 50px;
}

.contacto_part2 {
    flex: 3;
    padding: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 75%;
    padding: 0% auto;
}

table th,
table td {
    padding: 8px;
    text-align: center;
}

p.texto_contacto {
    text-align: center;
    font-size: 130%;
    font-weight: bold;
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: auto;
}

iframe {
    border-radius: 12px;
    width: 100%;
    height: 400px;
}

#margin {
    margin: 1%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 12px;
}

.formulario {
    text-align: left;
}

.flex {
    display: flex;
}